*,a{
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Mate SC', serif;
}

.navbar_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color:#323232;
    /* background-image: linear-gradient(rgb(92, 91, 91), rgb(207, 207, 207)); */
    /* opacity: 0.5; */
}

.nav_buttons{ 
    display: flex;
    flex-direction: row;
    margin: auto 20px;
}

.nav_buttons a{
    border-radius: 25px;
    margin: 0 20px;
    padding: 5px 15px;
    border: 3px solid #ffffff50;
    color: #ffffff50;
    transition:  0.2s;
}

.nav_buttons a:hover{
    box-shadow: 0 5px #888888;
    margin: -5px 20px 5px 20px;
    padding: 5px 15px;
    border: 3px solid beige;
    color: bisque;
}

.navbar_container img{
    opacity: 0.5;
    margin: auto 20px;
    width: 80px;
    float: left;
    cursor: pointer;
}

.menu_icon{
    color: white;
    float: right;
    font-size: 15px;
    margin: auto 10px;
    display: none;
    padding: 12px 20px;
    transition: 0.3s;
}

.drop_down{
    text-align: center;
    height: 180px;
    letter-spacing: 2px;
    padding: 30px;
    position: absolute;
    right: 63px;
    top: 0px;
    background-color: #ff1e56;
    visibility: hidden;
    transition: top 0.2s;
}

.drop_down li{
    padding: 20px;
}

.drop_down a{
    padding: 0 10px;
    /* transition: 0.2s; */
}

@media screen and (max-width: 800px){
    .menu_icon:hover{
        /* border: solid ; */
        display: flex;
    }

    .menu_icon:hover .drop_down{
        border: solid ;
        visibility: visible;
    }
    
    .navbar_container img:hover{
        /* border: solid; */
        opacity: 1;
    }
    
    .drop_down a:hover{
        border-bottom: solid 2px aliceblue;
    }

    .nav_buttons{
        display: none;
    }
}